In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys

https://data.gov.ie/dataset/a8e90f64-ddd1-4c29-97f4-dbabac4b0bee/resource/ada656d9-f9d4-4dfb-9049-62a3a526934a

In [ ]:


df=pd.read_csv("hsa-incidents-2017-2021 extract.csv")
#rename columns with spaces
df.rename(columns={'NACE Sector': 'Sector', 'Incident Type': 'Incident_Type'}, inplace=True)
df

#rename columns with spaces

In [ ]:
sns.pairplot(df, hue= "Trigger")

year column is int 64 bit

In [ ]:
df['Year']

adding a new varaible called datetime

In [ ]:
pd.to_datetime(df['Year'])

new variable datetime added

In [ ]:
df['datetime'] = pd.to_datetime(df['Year'], format = '%Y')
df

In [ ]:
df['datetime']

In [79]:
idx = pd.date_range("2018-01-01", periods=100, freq="D")
idx

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01',
               '2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05',
               '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-10', '2018-02-11', '2018-02-12', '2018-02-13',
               '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-17',
               '2018-02-18', '2018-02-19', '2018-02-20', '2018-02-21',
               '2018-02-22', '2018-02-23', '2018-02-24', '2018-02-25',
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-03', '2018-03-04', '2018-03-05',
               '2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09',
               '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17',
               '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21',
               '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25',
               '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02',
               '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06',
               '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10'],
              dtype='datetime64[ns]', freq='D')

In [85]:
rng = np.random.default_rng()

Generator(PCG64) at 0x14E32348E40

generate random numbers between 0 and 1 , averafe of 25 recoded incidnets per day

In [111]:
ts = pd.DataFrame(data=rng.poisson(25,len(idx)),index =idx, columns=['Incidents recorded'])

In [112]:
ts

            Incidents recorded
2018-01-01                  19
2018-01-02                  19
2018-01-03                  20
2018-01-04                  21
2018-01-05                  21
...                        ...
2018-04-06                  20
2018-04-07                  26
2018-04-08                  33
2018-04-09                  23
2018-04-10                  29

[100 rows x 1 columns]